
.box-shad
{
	box-shadow: 6px 6px 25px -11px rgba(0,0,0,0.1);
}

.feature--content
{
	position: absolute;
	bottom: 0px;
	z-index:1;
}
.feature--img
{
	background-size:cover;
	height:600px;
	background-position:center;
	position:relative;

	@media (min-width: $screen-lg-min) { 
		background-position:left center;
	}

	&:after
	{
		@media (max-width: $screen-sm-max) { 
			background-color:rgba(0,0,0,0.4);
		}

		@media (min-width: $screen-md-min) { 
			background-color:rgba(0,0,0,0.1);
		}

		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;left:0;
		z-index:0;
	}
}


.business-case--img
{
	min-height:300px;
	background-repeat:no-repeat;
	
	background-position:center top;

	@media (max-width: $screen-md-max) {
		background-size:300px;
	}

	@media (min-width: $screen-lg-min) { 
		background-size:cover;
	}
	
}

.advice--section
{
	// height:300px;
}

.elem--video
{
	border-radius:8px;
	background-image:url('https://fakeimg.pl/200/');
	height:100px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;

	&:after
	{
		content:"";
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		display:inline-block;
		background-image:url('../img/icons/icon--video-play@2x.png');
		background-repeat:no-repeat;
		background-position:center;
		background-size:36px;

	}
}

.vid1
{
	background-image:url('../img/video--1.jpg');
}

.vid2
{
	background-image:url('../img/video--2.jpg');
}

.vid3
{
	background-image:url('../img/video--3.jpg');
}


.event--cta-cleanup
{
	background-size:cover;
	background-position:bottom;
}