.btn
{
	padding:15px 28px;
}

.btn-primary
{
	background-color:$link-color;
	color:$white;
	padding:15px 28px;
	// border-radius:4px;
	text-decoration:none;


	&:focus
	{
		background-color:$link-color-hover;
	}
	&:hover
	{
		color:$white;
		background-color:$link-color-hover;
		text-decoration:none;
	}

}

.bg-primary .btn-secondary,
.btn-secondary
{
	background-color:$white;
	color:$link-color;
	text-decoration:none;


	&:hover
	{
		background-color:$gray-200;
		color:$link-color;
		text-decoration:none;
	}

}