.align-items-center {
	display: flex;
  	flex: 1;
  	align-items: center;
  	justify-content: center;
}
.align-items-bottom {
	display: flex;
  	flex: 1;
  	align-items: bottom;
  	justify-content: bottom;
}

@media (min-width: $screen-md-min) {
	.align-items-center-md {
		display: flex;
	  	flex: 1;
	  	align-items: center;
	  	justify-content: center;
	}
}

.aligner-item {
    flex: none;
    width:100%;
}

.d-flex {
  display:	flex;
}

@media (max-width: $screen-xs-max) {
	.d-xs-flex {
	  display:	flex;
	}
}

@media (min-width: $screen-sm-min){
	.d-sm-flex {
	  display:	flex;
	}
}

@media (min-width: $screen-md-min) {
	.d-md-flex {
	  display:	flex;
	}
}

@media (min-width: $screen-lg-min) {
	.d-lg-flex {
	  display:	flex;
	}
}
