.icon--social
{
	height:25px;
	width:30px;
	display:inline-block;
	background-size:auto 20px;
	background-repeat:no-repeat;
	background-position:center;
}

.fb
{
	background-image:url('../img/icons/icon--fb@2x.png');
	
}

.twt
{
	background-image:url('../img/icons/icon--twt@2x.png');
}

.inst
{
	background-image:url('../img/icons/icon--insta@2x.png');
}

.linkd
{
	background-image:url('../img/icons/icon--linkedin@2x.png');
}

.yt
{
	background-image:url('../img/icons/icon--yt@2x.png');
}