.juicer-button,.referral,.j-date.j-twitter-date, .juicer-feed li.feed-item.j-twitter .j-poster img,.j-poster .j-twitter-poster .j-twitter-display-name
{
	display:none!important;
}

.juicer-feed.night li.feed-item a
{
	color:$primary!important;
}

.juicer-feed.night .j-text
{
	background: $white!important;
}

.juicer-feed.night .j-message
{
	color:$black!important;
}

.juicer-feed.night li.feed-item.words .j-message, .juicer-feed.night li.feed-item.j-twitter .j-message
{
	margin: 0px 0 30px!important;
}

.juicer-feed.night li.feed-item.j-twitter .j-message
{
	font-weight:400!important;
}

.juicer-feed.night .j-text
{
	@media (max-width: $screen-sm-max) { padding:0!important; }
}

.juicer-feed .j-meta li
{
	margin:0 20px 0 0!important;
}
.j-twitter-intents
{
	float:right!important;
}

.juicer-feed.night li.feed-item
{
	margin-bottom:60px!important;
}