.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row.flex
{
     display: flex;
     flex-direction: row;

}

.s-gutter
{
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
    @media (max-width: $screen-sm-max) {
    	padding-right: 0px;
    	padding-left: 0px;
    }
  }
}


.border-primary-top
{
  border-top:5px solid $primary;
}

.d-block
{
  display:block;
}


.d-sm-block
{
  @media (max-width: $screen-sm-max) {
    display:block!important;
  }
}

.text-md-right
{
  @media (min-width: $screen-md-min) {
    text-align:right!important;
  }
}