.b-size
{
	
	top:0;
	position:absolute;
	z-index:1;
	
	.nav-item
	{
		display:inline-block;
		@media (max-width: $screen-sm-max) { 
				font-size:15px;
		}
	}

	a.nav-link
	{
		padding:10px;
		color:$white;
		opacity:0.6;
		text-decoration:none;
		&.active
		{
			opacity:1;
			text-decoration:underline;
		}
	}
}