body
{
	-webkit-font-smoothing: antialiased;
}

p
{
	margin:0 0 30px;
}

a, a .link
{
	text-decoration:underline;
	&:hover
		{
		.link
		{
			text-decoration:underline;
		
			color:$link-color-hover;
		}
	}
}

a.no-dec
{
	text-decoration: none;
    color: $black;


}

.large
{
	font-size:140%;
}

h1
{
	@media (min-width: $screen-lg-min) { font-size:75px; }
}
h2
{

	@media (min-width: $screen-lg-min) { font-size:40px; }
}

.link
{	
	color:$link-color;
	text-decoration:underline;
	&.chev:after
	{
		content:"\00a0\00a0 >";
	}
}


.bg-black, .bg-primary
{
	h1,h2,h3,h4,h5,h6,p
	{
		color:$white;
	}

	a
	{
		color:$dark-bg-link-color;
		&:hover
		{
			color:$dark-bg-link-color-hover;
		}
	}

}

.col-primary
{
	color:$primary;
}

.bg-primary.op-7
{
	background:rgba($primary,0.73);
}

.text-shad
{
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.36);
}